.DS_Store

# Config
config.development.json
config.production.json
config.qa.json
config.test.json

cache/*
!/dadi/lib/cache/index.js

# Log
log/
log/**/*

npm-debug.log
node_modules/
coverage/
scripts/coverage.svg

persist
.node-persist/**/*
public/**/*

workspace/exif/*