# Config
config.development.json
config.production.json
config.qa.json
config.test.json

cache/
!/dadi/lib/cache/**/*

# Log
log/
log/**/*

npm-debug.log
node_modules/
coverage/
scripts/coverage.svg

persist
public/**/*