language: node_js
cache:
  directories:
    - node_modules
notifications:
  slack: dadi:pnhiL60xOrm7GOglHUmb7xHK
  email: false
node_js:
  - '4.8.4'
before_script:
  - npm prune
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
env:
  - CXX=g++-4.9
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9
before_install:
  - if [[ `npm -v` != 3* ]]; then npm i -g npm@latest; fi
  - sudo apt-get install libjpeg-dev libgif-dev
