language: node_js
node_js:
  - "4"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_install:
  - if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi
  - sudo apt-get install libcairo2-dev libjpeg-dev libgif-dev
