{
  "server": {
      "host": "0.0.0.0",
      "port": 8111
  },
  "logging": {
    "enabled": true,
    "level": "info",
    "path": "./log",
    "filename": "cdn",
    "extension": "log",
    "fileRotationPeriod": "1d",
    "fileRetentionCount": 7,
    "accessLog": {
      "enabled": true,
      "fileRotationPeriod": "1d",
      "fileRetentionCount": 7,
      "kinesisStream": ""
    }
  },
  "images": {
    "directory": {
      "enabled": true,
      "path": "./images"
    },
    "s3": {
      "enabled": false,
      "accessKey": "",
      "secretKey": "",
      "bucketName": "",
      "region": ""
    },
    "remote": {
      "enabled": false,
      "path": ""
    }
  },
  "assets": {
    "directory": {
      "enabled": true,
      "path": "./public"
    },
    "s3": {
      "enabled": false,
      "accessKey": "",
      "secretKey": "",
      "bucketName": "",
      "region": ""
    },
    "remote": {
      "enabled": false,
      "path": ""
    }
  },
  "caching": {
    "ttl": 3600,
    "directory": {
      "enabled": true,
      "path": "./cache/"
    },
    "redis": {
      "enabled": false,
      "host": "",
      "port": 6379
    }
  },
  "clientCache": {
    "cacheControl": "public, max-age=3600",
    "etag": "15f0fff99ed5aae4edffdd6496d7131f"
  },
  "security": {
    "maxWidth": 2048,
    "maxHeight": 1024
  },
  "auth": {
    "clientId": "test",
    "secret": "test"
  },
  "cloudfront": {
    "accessKey": "",
    "secretKey": ""
  },
  "gzip": true,
  "feedback": false
}
