{
  "server": {
      "host": "0.0.0.0",
      "port": 80
  },

  // Either directory, s3 or remote should be enabled

  "images": {
    "directory": {
      "enabled": true,
      "path": "./images"
    },
    "s3": {
      "enabled": false,
      "accessKey": "",
      "secretKey": "",
      "bucketName": "",
      "region": ""
    },
    "remote": {
      "enabled": false,
      "path": ""
    }
  },

  // Either directory, s3 or remote should be enabled
  "assets": {
    "directory": {
      "enabled": true,
      "path": "./public"
    },
    "s3": {
      "enabled": false,
      "accessKey": "",
      "secretKey": "",
      "bucketName": "",
      "region": ""
    },
    "remote": {
      "enabled": false,
      "path": ""
    }
  },

  // Either directory or redis should be enabled
  "caching": {
    "ttl": 3600,
    "directory": {
      "enabled": true,
      "path": "./cache/"
    },
    "redis": {
      "enabled": false,
      "host": "",
      "port": 6379
    }
  },
  "clientCache": {
    "cacheControl": "public, max-age=3600",
    "etag": "15f0fff99ed5aae4edffdd6496d7131f"
  },
  "security": {
    "maxWidth": 2048,
    "maxHeight": 1024
  },
  "auth": {
    "clientId": "1235488",
    "secret": "asd544see68e52"
  },
  "cloudfront": {
    "accessKey": "",
    "secretKey": ""
  },
  "gzip": true,
  "feedback": false
}
