{
  "server": {
      "host": "0.0.0.0",
      "port": 8111
  },
  "logging": {
    "enabled": true,
    "level": "info",
    "path": "./log",
    "filename": "cdn",
    "extension": "log",
    "accessLog": {
      "enabled": true,
      "kinesisStream": ""
    }
  },
  "images": {
    "directory": {
      "enabled": true,
      "path": "./images"
    },
    "s3": {
      "enabled": false,
      "accessKey": "",
      "secretKey": "",
      "bucketName": "",
      "region": ""
    },
    "remote": {
      "enabled": false,
      "path": ""
    }
  },
  "assets": {
    "directory": {
      "enabled": true,
      "path": "./public"
    },
    "s3": {
      "enabled": false,
      "accessKey": "",
      "secretKey": "",
      "bucketName": "",
      "region": ""
    },
    "remote": {
      "enabled": false,
      "path": ""
    }
  },
  "caching": {
    "ttl": 3600,
    "directory": {
      "enabled": true,
      "path": "./cache/"
    },
    "redis": {
      "enabled": false,
      "host": "",
      "port": 6379
    }
  },
  "security": {
    "maxWidth": 2048,
    "maxHeight": 1024
  },
  "auth": {
    "clientId": "test",
    "secret": "test"
  },
  "cloudfront": {
    "accessKey": "",
    "secretKey": ""
  },
  "headers": {
    "useGzipCompression": true,
    "cacheControl": {
      "default": "public, max-age=3600",
      "paths": [

      ],
      "mimetypes": [
        { "image/jpeg": "public, max-age=86400" },
        { "text/css": "public, max-age=86400" },
        { "text/javascript": "public, max-age=86400" },
        { "application/javascript": "public, max-age=86400" }
      ]
    }
  },
  "feedback": false
}
